* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
}
.layer1 { position: relative; display: flex;}
.background img {
    height: 100vh;
    min-width: 483px;
    background-size: contain;
}

.formBox {
    max-width: calc(1440px - 483px);
    width: 66.5%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; 
}
form, .confirmation {margin-left: 15%;}
label { 
    text-transform: uppercase; 
    font-size: 12px;
    letter-spacing: 2px;
    color: hsl(278, 68%, 11%);
}

input {
    width: 380px;
    height: 45px;
    border-radius: 8px;
    color: hsl(278, 68%, 11%);
    font-size: 18px;
    padding-left: 15px;
    border: 1px solid hsl(270, 3%, 87%);
    margin: 5px 0 8px 0;
}

.dateAndCode {
    display: flex;
    width: 380px;
    justify-content: space-between;
}

::placeholder { color: hsl(270, 3%, 87%);}

#month, #year { width: 80px; margin-right: 8px;}
#cvc {width: 190px;}
#confirm, #continue { 
    background-color: hsl(278, 68%, 11%); 
    padding: 0;
    margin-top: 14px;
    height: 55px;
    color: hsl(270, 3%, 87%);
    transition: .2s linear;
}

#confirm:hover, #continue:hover { 
    letter-spacing: 1.5px;
    background: url(./images/bg-card-front.png) no-repeat;
    background-position: top 3px;
}

#fullName:focus, #cardNumber:focus, #month:focus, #year:focus, #cvc:focus {
    outline: none;  
    border: solid 1px transparent;  /* transparent so the background image can be seen through the border*/
    border-radius: 8px;
    background-image:  linear-gradient(white, white), radial-gradient(circle at top left, hsl(249, 99%, 64%), hsl(278, 68%, 11%), hsl(278, 94%, 30%));
    background-origin: border-box;
    background-clip: padding-box, border-box; /* white background stops at padding box and the gradient colors covers all the surface (border box), then it is visible only between padding border and box border*/
}
.cards { 
    position: absolute;
    display: flex;
    max-width: 705px;
    width: 49%;
    height: 100vh;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
}

.cards p { color: hsl(0, 0%, 100%); font-size: 14px; letter-spacing: 2px;}
.frontCard { 
    width: 447px;
    height: 245px;
    background: url(./images/bg-card-front.png) no-repeat;
    margin: 0 6.5vw 38px 0;  /*TO OPTIMIZE: responsive when width < 1024px*/
}
#eglogo { margin: 29px 0 0 32px;}
#egNumber { font-size: 28px; margin: 60px 0 25px 32px; letter-spacing: 3.3px;}
#egName { margin: 0 0 26px 32px; text-transform: uppercase; float: left;}
#egDate { float: right; margin-right: 32px;}

.backCard { 
    width: 447px;
    height: 245px;
    background: url(./images/bg-card-back.png) no-repeat;
}

#egCode { margin: 114px 0 0 350px;}
 
.error {
    font-size: 12px;
    margin-bottom: 16px;
}

.confirmation {
    display: none;
    flex-direction: column;
    max-width: calc(1440px - 483px);
    width: 380px;
    height: 310px;
    align-items: center;
    justify-content: flex-start; 
}

.confirmation h1 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 28px;
    margin-top: 36px;
    margin-bottom: 15px;
}

.confirmation p {
    color: hsl(279, 6%, 55%);
    font-size: 18px;
    margin-bottom: 33px;
}

@media screen and (max-width: 425px) {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    .layer1 { display: block;}
    .background img {
        width: 100%;
        height: 64%; /* 240px corresponds to 64% */
        min-width: 375px;
        display: block;
    }
    .formBox {
        width: 100%;
        flex-wrap: nowrap;
    }
    /*#form { margin-top: 50px;}*/
    .cards { 
        top: 0;
        left: calc(50% - (343px/2));
        width: 343px;
        height: 251px;
        margin: 31px auto 0 auto;
        flex-direction: column-reverse;
        justify-content: flex-end;
        align-items: flex-end;
    }
    input, .dateAndCode {
        width: 330px; margin-left: auto; margin-right: auto;
    }
    #month, #year { width: 71px;}
    #cvc {width: 164px;}

    #form, .confirmation { margin: 93px auto 0 auto;}
    .frontCard, .backCard { width: 285px; height: 156px; background-size: contain;}
    .frontCard { margin: 0; position: absolute; top: 95px; left: 0;}
    .backCard { margin-top: 0;}
    #eglogo { width: 55px; margin: 17px 0 0 19px; padding: 0;}
    #egNumber { font-size: 18px; margin: 34px 0 17px 19px; letter-spacing: 2px;}
    #egName { margin-left: 19px;}
    #egDate { margin-right: 21px;}
    .cards p { font-size: 10px; letter-spacing: 1px;}
    #egCode { margin: 70px 0 0 225px;}
    #confirm { margin-bottom: 45px; margin-top: 5px;}
    .confirmation { height: 374px;}
}